.filedrop {
  min-height: 50px;
  min-width: 75px;
  border: 3px solid white;
  text-align: center;
  font-size: 16px;
  padding: 24px;
  border-radius: 4px;
}
 .filedrop drag{
  border: 3px dashed #ffe978 ;
 }

 .filedrop ready{
  border: 3px solid#ffe978;
 }
